<!DOCTYPE html>
<html>
<head>
  <title>New Post</title>
</head>
<style>
  body {
    font-family: 'Manrope', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  form {
    max-width: 600px;
    margin: 50px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  #content{
    height: 400px
  }
  
  input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #555;
  }
  </style>
<body>
  <h1>Create a New Post</h1>
  <form action="/posts/new" method="POST">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title"><br>
    <label for="discription">Discription:</label><br>
    <input type="text" id="discription" name="discription"><br>
    <label for="content">Content:</label><br>
    <textarea id="content" name="content"></textarea><br>
    <label for="images">Images (URLs, separated by commas):</label><br>
    <input type="text" id="images" name="images"><br>
    <label for="videos">Videos (URLs, separated by commas):</label><br>
    <input type="text" id="videos" name="videos"><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
